<div class="span12">
  <% @results.each do |r| %>
     <div class="row">
       <h2><%= r.values[:razon_social] %></h2>

       <p>
       <% r.values[:personas].each do |p| %>
         <a href="#"><%= p.nombre %></a>

         <% unless p.cuit.empty? %>
           (<a href="http://cuits.org/cuits/<%= p.cuit %>"><%= p.cuit %></a>)
         <% end %>

         /
       <% end %>
       </p>

       <a class="show_text" href="#">ver</a>

       <p>
       <%= r.values[:text] %>
       </p>

     </div>
     <hr>
  <% end %>
</div>
<script type="text/javascript">
  $(function() {
    $('.show_text').click(function() {
      $(this).next('p').toggle();
      return false;
    });
  });
</script>
